<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <form class="form-box" action="/add" method="POST">
        <h4>글쓰기</h4>
        <!-- input에는 name 속성을 넣어주지 않으면 전송이 안됨. -->
        <input name="title">
        <input name="content">
        <button type="submit">전송</button>
    </form>
    <button onclick="history.go(-1)">뒤로 가기</button>

</body>
</html>